.error {
    height: 43.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.875rem;
    background-color: #060606;
    height: 60%;
    width: 80%;
}
.error-title  {
    color: #F7F7F7;
}
.error-subtitle {
    color: #F7F7F7;
}
.error-text {
    color: #F7F7F7;
    text-align: center;
}
@media (max-width: 34.375rem) {
    .error-text {
        max-width: 18.75rem;
    }
    .error-container {
        height: 80%;
        width: 100%;
    }
}

