@font-face {
    font-family: 'Actinia';
    src: url(../fonts/Actinia/Actinia-Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter/Inter-Light.otf);
    font-weight: 200;
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter/Inter-Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter/Inter-Bold.otf);
    font-weight: 600;
}
*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
h1 {
    color: #F7F7F7;
    font-family: 'Actinia';
    font-weight: 400;
    font-size: 4rem;
}
h2 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 2.25rem;
}
p {
    font-family: 'Inter';
    font-weight: 200;
    font-size: 1.125rem;
}
a {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.125rem;
    text-decoration: none;
}
ul {
    list-style: none;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 81.25rem;
    margin: 0 auto;
}
.wrapper {
    /* overflow: hidden; */
}

/* header start */
header {
    margin: 0 auto;
    height: 6.25rem;
}
.header-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-menu {
    display: flex;
    gap: 3.125rem;
}
.header-menu-item {
    color: #F7F7F7;
    border-bottom-width: 0 solid #F7F7F7;
    transition: 0.2s;
}
.button-contact-with-us {
    padding: 0.3125rem 2.5rem;
    border: solid 0.0625rem #F7F7F7;
}
.contact-button {
    color: #F7F7F7;
}
/* header end */


/* footer start */
.footer-color {
    display: flex;
    flex-direction: column;
    background-color: #060606;
    height: 18.75rem;
    justify-content: center;
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.8125rem;
}
.footer-menu {
    display: flex;
    gap: 2.5rem;
}
.footer-menu-item {
    color: #F7F7F7;
}
.footer-contacts {
    display: flex;
    gap: 3.125rem;
}
.footer-contacts-item {
    color: #F7F7F7;
}
/* footer end */


.preview {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50rem;
}
.preview-items {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    max-width: 41.25rem;
}
.title {
    text-align: center;
}
.title-text {
    text-align: center;
    color: #F7F7F7;
}



/* adaptive */
.mobile-header {
    display: none;
}
.burger-menu {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
}
.bar {
    width: 35px;
    height: 3px;
    background-color: #F7F7F7;
}
.close-button {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.nav-mobile {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 80%;
    background-color: #060606;
    padding: 2rem;
    z-index: 1000;
}
.nav-mobile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 110px;
}
.nav-mobile-item {
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* justify-content: center; */
    
}
.close-button {
    color: #F7F7F7;
}





@media (max-width: 550px) {
    .a {
        font-size: 16px;
    } 
    .p {
        font-size: 16px;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    .container {
        max-width: 400px;
        margin: 0 auto;
    }
    .button-contact-with-us {
        display: flex;
        justify-content: center;
        max-width: 220px;
    }
    .header-items{
        display: none;
    }
    .burger-menu {
        display: flex;
    }
    .mobile-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer-menu {
        flex-direction: column;
    }
    .footer-color {
        height: 550px;
    }
}
